<ion-view view-title="Estado">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Ultimas actualizaciones</div>
      <div class="item item-body">
        <div>
         Bla bla bla <b>bla bla</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Información</div>
      <div class="item item-body">
        <div>
          Algo importante
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
