<ion-view view-title="Ajustes">
  <ion-content>
    <ion-list>
    <ion-toggle ng-model="settings.enableFriends">
        Opción Demo
    </ion-toggle>
    <div class="padding">
      <button type="button" ng-click="removeAll()" class="button icon-left ion-ios-trash-outline button-block button-assertive">
        Borrar los items locales
      </button>
    </div>
    </ion-list>
     <p style="padding: 10px; text-align: center; color: #A28888">
      Version Demo 0.1
    </p>
  </ion-content>
</ion-view>
